* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Young Serif", serif;
}

.container {
    padding: 50px;
}

.section-one {
    background-color: black;
    color: white;
    padding: 20px;
}

.section-one__contact {
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 10px;
}

.section-on__name {
    font-size: 60px;
}

.section-one__role {
    font-size: 10px;
    margin-top: 10px;

}

.section-two,
.section-three,
.sction-four,
.section-five {
    margin-top: 20px;
}

.section-two__desc,
.section-three__desc,
.sction-four__desc,
.section-five__desc {
    margin-top: 10px;
}

.section-five {
    background-color: black;
    color: white;
    padding: 20;
}

.sction-five__title a {
    color: skyblue;
}

.section-three li,
.section-four li {
    list-style: none;
}

.section-three {
    background-color: #6462FD;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200;
    border-radius: 10px;
    vertical-align: top;
}

.section-four {
    background-color: #FE7517;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200;
    border-radius: 10px;
    vertical-align: top;

}

.contact-form{
    margin-top: 20px;

}
.contact-form__input{

    margin-top: 10px;
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact-form__textarea{
    margin-top: 10px;
    

    padding: 10px;
     border: none;
    border: solid black 1px;

}
.contact-form__submit{
    background-color:orangered;
    color: black;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    border: none;
  
    
    
}